.form__container--edit
    button.close__icon--edit
        i.fas.fa-times-circle
    form.form__edit
        .form-group
            label(for="exampleFormControlInput1") Todo
            textarea(class="form-control"
            id="editTodo"
            rows="3"
            name="newtodo")
        
        input.button__submit( value="Edit" type="submit")